<div class="h-full w-100">
    <as-split restrictMove="true" direction="horizontal">
        <as-split-area [size]="25">
            <div class="p-md">
                <div class="p-xs">
                    <h3 class="mb-0"
                        tooltip="This is an ensemble technique that considers how frequently a geographic entity (e.g., county) falls in a particular bin across multiple comparable data binning methods."
                        [options]="appConfig['tooltipOptions']">Resiliency App</h3>
                        <div>
                            <small><a target="_blank" href="https://github.com/arpitnarechania/binguru">Powered by BinGuru</a></small>
                        </div>
                </div>
                <hr>
                <form>
                    <div class="form-group">
                        <strong><i
                                tooltip="Configure datasets by selecting an existing one or uploading your own. Hover on the configuration name to know more"
                                [options]="appConfig['tooltipOptions']" class="fa fa-database"></i>&nbsp;Dataset&nbsp;
                        </strong>
                        <p-cascadeSelect appendTo="body" [ngModelOptions]="{standalone: true}" [(ngModel)]="visModel['dataset']" (onChange)="updateDataset()"
                            [options]="visModel['datasets']" optionLabel="feature" optionGroupLabel="name"
                            [optionGroupChildren]="['geographies','features']">
                        </p-cascadeSelect>
                        <div class="mt-sm text-center">
                            <small class="text-muted">
                                {{getDataShape("total")}} values; {{getDataShape("invalid")}}
                                ({{getDataShape("invalidpct")}}%) NaN/nulls (
                                <div class="form-check form-check-inline mr-0">
                                    <input class="form-check-input" type="radio" name="showInvalidValuesMode"
                                        id="showInvalidValuesOn" [(ngModel)]="visModel['showInvalidValues']" value="on"
                                        (ngModelChange)="updateAllVis()"
                                        [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="showInvalidValuesOn">
                                        on
                                    </label>
                                </div>
                                &nbsp;
                                <div class="form-check form-check-inline mr-0">
                                    <input class="form-check-input" type="radio" name="showInvalidValuesMode"
                                        id="showInvalidValuesOff" [(ngModel)]="visModel['showInvalidValues']"
                                        value="off" (ngModelChange)="updateAllVis()"
                                        [ngModelOptions]="{standalone: true}">
                                    <label class="form-check-label" for="showInvalidValuesOff">
                                        off
                                    </label>
                                </div>)
                            </small>
                        </div>
                        <div #attrDistributionVisContainer id="attrDistributionVisContainer" class="w-100 mt-sm"></div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <strong><img
                                tooltip="Pick one or more of these binning methods to compare by overlaying their bin sizes and bin breaks; note that these methods all have a fixed number of bins to be comparable."
                                [options]="appConfig['tooltipOptions']" [src]="'assets/tasks-alt.svg'" width='16'
                                style="margin-top: -4px;" />&nbsp;Data Binning
                        </strong>
                        <div class="float-right">
                            <span
                                tooltip="Only applicable for <b>Equal Interval</b>, <b>Quantile</b>, <b>Maximum Breaks</b>, <b>Natural Breaks</b>, <b>CK-Means</b>, and <b>Geometric Interval</b>"
                                [options]="appConfig['tooltipOptions']" style="cursor: help;">
                                Bin Count
                            </span>
                            <input type="number" step="1" min="1" max="12"
                                (change)="updateAllVis();"
                                [(ngModel)]="visModel['binCount']" name="binCount" id="binCount" />
                        </div>
                        <div style="clear:both"></div>
                        <div class="mt-sm">
                            <div class="form-check"
                                *ngFor="let bm of objectKeys(visModel['validBinningMethodsForResiliency']);">
                                <input name="'special-comparison-checkbox-' + {{bm}}"
                                    class="form-check-input" type="checkbox"
                                    [disabled]="isCompatibleBinningMethod(bm)"
                                    [(ngModel)]="visModel['validBinningMethodsForResiliency'][bm]['selected']"
                                    (ngModelChange)="updateAllVis()" [ngModelOptions]="{standalone: true}"
                                    id="'special-comparison-checkbox-' + {{bm}}">
                                <label class="form-check-label"
                                    for="'special-comparison-checkbox-' + {{bm}}">{{visModel['binningMethods'][bm]['name']}}</label>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <strong><i
                                tooltip="Options to configure the color scheme for the choropleth maps. Hover on the configuration name to know more."
                                [options]="appConfig['tooltipOptions']" class="fa fa-palette"></i>&nbsp;Color Scheme
                        </strong>
                        <div class="mt-sm">
                            <table class="table-sm w-100">
                                <tbody>
                                    <tr>
                                        <td style="width: 35%">
                                            <span
                                                tooltip="The base color scheme for valid (non NaN/null) values; optionally, reverse the scheme as per needs."
                                                [options]="appConfig['tooltipOptions']" style="cursor: help;">
                                                Primary
                                            </span>
                                        </td>
                                        <td>
                                            <p-cascadeSelect appendTo="body" [ngModelOptions]="{standalone: true}"
                                                (onChange)="updateAllVis()" [(ngModel)]="visModel['colorScheme']"
                                                [options]="visModel['colorSchemes']" optionLabel="sname"
                                                optionGroupLabel="name" [optionGroupChildren]="['examples']">
                                                <ng-template pTemplate="option" let-option>
                                                    <table>
                                                        <tr>
                                                            <td class="p-xs">
                                                                <img height="20" width="150" *ngIf="option.sname"
                                                                    [src]="'assets/colorSchemes/' + option.file + '.png'" />
                                                            </td>
                                                            <td class="p-xs">
                                                                <span>{{option.sname || option.name}}</span>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </ng-template>
                                                <ng-template pTemplate="value" let-option>
                                                    <!-- <div *ngIf="option">{{objectKeys(option)}}</div> -->
                                                    <div *ngIf="option">
                                                        <img height="15" width="40"
                                                            [src]="'assets/colorSchemes/' + option.file + '.png'" />&nbsp;&nbsp;
                                                        <span>{{option.sname}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-cascadeSelect>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 35%">
                                            <span tooltip="The color to be used for invalid (NaN/null) values"
                                                [options]="appConfig['tooltipOptions']" style="cursor: help;">
                                                NaN/nulls
                                            </span>
                                        </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" id="colorNullValues"
                                                    style="width: 16px; height: 16px;" [cpCancelButton]="true"
                                                    [cpOKButton]="true" [cpSaveClickOutside]="false"
                                                    [cpDisabled]="!visModel['showInvalidValues']"
                                                    (colorPickerSelect)="updateAllVis()" [cpPosition]="'top'"
                                                    [style.background]="visModel['invalidValuesColor']"
                                                    [cpAlphaChannel]="'always'" [cpOutputFormat]="'auto'"
                                                    [cpEyeDropper]="true"
                                                    [(colorPicker)]="visModel['invalidValuesColor']" />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        </as-split-area>
        <as-split-area [size]="75">
            <div class="p-sm">
                <div class="h-full2" style="width: 100%;">
                    <div #resiliencyVisContainer id="resiliencyVisContainer" class="text-center"></div>
                    <hr>
                    <div #compareBinFrequencyVisContainer id="compareBinFrequencyVisContainer" class="text-center">
                    </div>
                </div>
            </div>
        </as-split-area>
    </as-split>
</div>